*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper{
    transform-origin: center;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:3%;
    margin-left:-13.5px;
    transform: rotate(-90deg);
    width: 17px;
    height: 29px;
    background-size: contain;
    animation: buttonnext 1.5s infinite;
}
@keyframes buttonnext {
    0%{
        bottom:3%;
        opacity: 1;
    }
    100%{
        bottom:8%;
        opacity:0;
    }
}
/***一屏首页***/
.s1,.s2,.s3,.s4,.s5{
    background: url(../img/bj.png);
    height: 100%;
    position:relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position:absolute;
    top: 120px;
    left: 50px;
    animation: shake infinite;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    position:absolute;
    top: 96px;
    left:276px;
    animation: shake infinite;
}
.s1 .header img:nth-of-type(3){
    width: 60px;
    position:absolute;
    top: 430px;
    left: 36px;
    animation: shake infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position:absolute;
    bottom:200px;
    right:48px;
    animation: shake infinite;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    position:absolute;
    top:25%;
    left: 50%;
    margin-left:-35%;
    animation: flash infinite;
}

/*main*/
.s1 .main{
    position:relative;
    top:30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    animation: flipInY infinite;
}
.s1 .main p{
    color:#000;
}
.s1 .main .img9{
    background:url(../img/9.png);
    width: 207px;
    height: 24px;
    background-size:100%;
    margin:auto;
    font-weight:bold;
    font-size:16px;
    line-height:25px;
    margin-top:20px;
}

/*footer*/
.s1 .footer{
    color:#01f2cf;
    position:absolute;
    width: 100%;
    bottom:70px;
}
.s1 .footer p:nth-of-type(2){
    margin-bottom: 35px;
    font-size:16px;
}
.s1 .footer p:nth-of-type(3){
    height: 70px;
}
.s1 .footer img{
    position: absolute;
    height: 70px;
}
.s1 .footer img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s1 .footer img:nth-of-type(2){
    left: -95px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 100px;
    }
}
@keyframes footerimg2 {
    0%{
        left: -95px;
    }
    100%{
        left: -75px;
    }
}
/*s2第二屏样式*/

.s2{
    color:#00f8ca;
}
.s2 h2{
    font-size: 24px;
    position:relative;
    top:15%;
    animation: flipInX infinite;
}
.s2 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}
.s2 h2::before,
.s2 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s2 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s2 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}


.s2 div{
    position:absolute;
    width: 100%;
    top:25%;
}
.s2 div img{
    width: 80%;
    position:absolute;
    margin-left: -40%;
}
.s2 div p:nth-of-type(1){
    padding-top: 20px;
}
.s2 div p{
    width: 70%;
    text-align:left;
    margin:auto;
    font-size:14px;
    line-height:1.8em;

}
.s2 div span{
    background-color: #00e8f2;
    background: -webkit-linear-gradient(left, #00e8f6 , #01faa8);
    padding:4px 29px;
    border-radius:12px;
    color:#000;
    font-weight:bold;
    position:relative;
    top: 20px;
    animation: flipOutY infinite;

}

/*第三屏部分*/
.s3 h2{
    font-size: 24px;
    position:relative;
    top:15%;
    color:#00efcc;
    animation: pulse infinite;
}
.s3 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}

.s3 h2::before,
.s3 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s3 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s3 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}
.s3 div{
    position:absolute;
    width: 80%;
    top:18%;
    left: 50%;
    margin-left: -40%;

}
.s3 div p{
    background: -webkit-radial-gradient(#09092d,#01b7a1); /* Safari 5.1 - 6.0 */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    color:#26ffb0;
    line-height: 50px;
    position: absolute;
}
.s3 div p:nth-of-type(1){
    left:16%;
    margin-top: 31%;
}
.s3 div p:nth-of-type(2){
    left:65%;
    margin-top: 29%;
}
.s3 div p:nth-of-type(3){
    left: 83%;
    margin-top: 63%;
}
.s3 div p:nth-of-type(4){
    left: 63%;
    margin-top: 100%;
}
.s3 div p:nth-of-type(5){
    left: 18%;
    margin-top: 101%;
}
.s3 div p:nth-of-type(6){
    left: 0;
    margin-top: 64%;
}
.s3 div p:nth-of-type(7){
    width: 120px;
    height: 120px;
    line-height: 120px;
    left: 33%;
    margin-top: 53%;
    animation: flip infinite;
}
.s3 .need{
    position:absolute;
    margin-top: 108%;
    height: 50px;
    border-left:2px solid #00f8ca;
}
.s3 .need span:nth-of-type(1){
    color:#00f8ca;
    font-size:15px;
}
.s3 .need span:nth-of-type(2){
    color:#00f8ca;
    font-size:15px;
}
/*音频样式*/
#mp3Btn img{
    width: 10px;

}
#mp3Btn{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background:rgba(0,0,0,0.5);
    border-radius:50%;
    border:4px solid #292929;
    text-align: center;
    animation: mp3Btn 4s;
    transform: rotateZ(0deg);
    /*一直执行*/
    animation-iteration-count:infinite;
    /*一直旋转*/
    animation-timing-function:linear;
}
@keyframes mp3Btn {
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(360deg);
    }
}

/*第4屏header样式*/
.s4 h2{
    font-size: 24px;
    position:relative;
    top:15%;
    color:#00efcc;
    animation: pulse infinite;
}
.s4 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}

.s4 h2::before,
.s4 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s4 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s4 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}
.s4 .main img{
    width: 82%;
    position:absolute;
    margin-left: -40%;
    bottom: 79px;
}
.s4 .main span:nth-of-type(1){
    color:#00efcc;
    position: absolute;
    left: 136px;
    top: 200px;
}
.s4 .main span:nth-of-type(2){
    color:#00efcc;
    position: absolute;
    left: 255px;
    top: 200px;
}
.s4 .main span img{
    width: 30px;
    height: 30px;
    bottom:-3px;
    right: 59px;
}
/*进度条*/
.s4 .main p:nth-of-type(1){
    color:#00ba9c;
    position: absolute;
    left: 62px;
    top: 246px;
}
.s4 .main a{
    color:#dcdedd;
    text-decoration: none;
}
.s4 .main img:nth-of-type(2){
    width: 14px;
    height: 14px;
    top: 253px;
    animation: wobble infinite;

}
.s4 .main p:nth-of-type(2){
    color:#00ba9c;
    position: absolute;
    right: 12px;
    top: 272px;
}
.s4 .main img:nth-of-type(3){
    width: 264px;
    height: 14px;
    top: 279px;
    right: 59px;
}
.s4 .main p:nth-of-type(3){
    color:#00699b;
    position: absolute;
    top: 297px;
    right: 110px;
}
.s4 .main img:nth-of-type(4){
    width: 133px;
    height: 14px;
    top: 303px;
    right: 178px;

}
.s4 .main p:nth-of-type(4){
    color:#00ba9c;
    position: absolute;
    right: 190px;
    top: 348px;
}
.s4 .main img:nth-of-type(5){
    width: 14px;
    height: 14px;
    top: 352px;
    animation: wobble infinite;
}
.s4 .main img:nth-of-type(6){
    width: 238px;
    height: 14px;
    top:380px;
    right: 92px;

}
.s4 .main p:nth-of-type(5){
    color:#00699b;
    position: absolute;
    right: 127px;
    top: 400px;
}
.s4 .main img:nth-of-type(7){
    width: 127px;
    height: 14px;
    bottom: 248px;
    right: 196px;
}
.s4 .main p:nth-of-type(6){
    color:#00ba9c;
    position: absolute;
    right: 23px;
    top: 375px;
}
.s4 .main p:nth-of-type(7){
    color:#00ba9c;
    position: absolute;
    left: 61px;
    bottom: 195px;
}
.s4 .main img:nth-of-type(8){
    width: 14px;
    height: 14px;
    top: 456px;
    animation: wobble infinite;
}
.s4 .main img:nth-of-type(9){
    width: 210px;
    height: 14px;
    bottom: 170px;
    right: 115px;
}
.s4 .main p:nth-of-type(8){
    color:#00ba9c;
    position: absolute;
    right: 60px;
    bottom: 167px;
}
.s4 .main img:nth-of-type(10){
    width: 105px;
    height: 14px;
    bottom: 147px;
    right: 216px;
}
.s4 .main p:nth-of-type(9){
    color:#00699b;
    position: absolute;
    right: 171px;
    bottom: 142px;
}
/*footer 部分*/
.s4 .main p:nth-of-type(10){
    color:#00ba9c;
    font-size:15px;
    width: 80%;
    position: absolute;
    bottom: 92px;
    left: 45px;

}
/*地五屏第一部分*/

.s5 h2{
    font-size: 24px;
    position:relative;
    top:15%;
    color:#00efcc;
    animation: pulse infinite;
}
.s5 small{
    font-size:14px;
    display:block;
    margin-top:10px;
    letter-spacing: 5px;
}

.s5 h2::before,
.s5 h2::after{
    content:"";
    width: 83px;
    height: 20px;
    display:inline-block;
}
.s5 h2::before{
    background:url(../img/14.png);
    position: absolute;
    margin-left: -95px;
    margin-top: 10px;
    background-size:contain;
}
.s5 h2::after{
    background:url(../img/13.png);
    position: absolute;
    top:0;
    margin-left: 65px;
    margin-top: 10px;
    background-size:contain;
}
.s5 .main{
    width: 80%;
    margin: auto;
    position: absolute;
    left: 36px;
    top: 165px;
}
.s5 p:nth-of-type(1){
    background: url(../img/12.png);
    background-size: contain;
    width: 134px;
    height: 170px;
    float: left;
    position: relative;
    left: 10px;
    top: 21px;
}
.s5 p:nth-of-type(2){
    background: url(../img/12.png);
    background-size: contain;
    width: 134px;
    height: 170px;
    float: left;
    position: relative;
    left: 31px;
    top: 22px;
}
.s5 p:nth-of-type(3){
    background: url(../img/12.png);
    background-size: contain;
    width: 134px;
    height: 170px;
    float: left;
    position: relative;
    left: 10px;
    top: 51px;
}
.s5 p:nth-of-type(4){
    background: url(../img/12.png);
    background-size: contain;
    width: 134px;
    height: 170px;
    float: left;
    position: relative;
    left: 32px;
    top: 52px;
}
.s5 .main p img{
    padding:12px 10px 0 10px;
    border-radius: 20px;
    animation:pulse infinite ;
}
.s5 .main::after{
    display: table;
    content: '';
    clear: both;
}
.s5 .main p span{
    color:#00efcc;
    font-size:14px;
}
.s5 .main p a{
    background-color: #00e8f2;
    background: -webkit-linear-gradient(left, #00e8f6 , #01faa8);
    border-radius:10px;
    font-size:15px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 2px;
    text-decoration: none;
    color:#000;
    text-align: center;

}
